// ========== 外部字體 ========== 

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


// ========== 變數 ========== 
$color_gold: #df972b;
$scroll_padding: 60px;


// ========== 文件基礎樣式 ========== 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid tomato;
}

html{
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: $scroll_padding; 
  //點擊頂端章節目錄畫面滑動到標題時讓 navbar 不會擋到標題
}

body{
  width: 100%;
  font-family: "Noto Sans TC", "Merriweather", sans-serif;
}

// ========== 內容共用樣式 ========== 

a{
  text-decoration: none;
  // display: block;
}

img{
  max-width: 100%;
  vertical-align: top;
}

.eng{
  font-family: "Merriweather";
  font-weight: 700;
  font-style: italic;
}

section{
  padding: 50px 0;
}


.wrapper{
    // aos 動畫特效位移元素，要隱藏溢出部分
    overflow-x: hidden;
}

// ----- 導覽列 -----
nav.navbar{
  padding: 10px 0;
  transition: 0.5s; //讓nav底色切換時緩和一點
}


// 要蓋過 BS5 權重
// navbar-top 是自訂的 class
.navbar.fixed-top.navbar-expand-md.navbar-top{
  border-bottom: 1px solid lightgrey;

  a{
    // color: white;
    transition: 0.5s;
    &:hover{
       color: $color_gold;
    }
  }
}

// ----- 首頁橫幅 -----
header{
  position: relative; //父層要有這個相對定位，:before的絕對定位才抓得到相對位置。
  text-align: center;
  color: white;
  
  // 讓背景圖與與文字放在不同層，文字在上，背景在下。
  // 單獨針對背景圖處理亮度變暗，而文字亮度不變。
  &:before{
    content: '';
    display: block; //用來撐滿父層
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/swing_dance-color.jpg);
    background-position-x: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; //讓背景圖固定位置不跟著滑動
    filter: brightness(0.5); // 調暗背景
    z-index: -1;
    
  }

}
  
.header__container{
  padding: 250px 0;

  &__title{
    position: relative;
    animation: showUp 1s ease-in 1;
  }

  h1{
    font-size: 56px;
  }

  h2{
    margin-top: 30px;
  }
  
  h4.eng{
    position: relative;
    margin-top: 40px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

// history 背景介紹區塊
section#section_history{
  padding: 80px 0;
  background-color: gainsboro;
  
  h2{
    line-height: 1.5;
  }

  p{
    line-height: 2;
  }

  .img_history{
    img{
      height: 100%;
      object-fit: contain;
     }
    }
  
  
  .col-sm-7{
    display: flex;
    flex-direction: column;
  }
  
  h2{
    // 有額外在 HTML class 設定 mt-5 和 mt-sm-0
    // 當視窗寬度超小，介於 0~479px 時，呈現垂直排版，此時套用 mt-5 給出 margin-top ，讓文字頭頂不會緊貼圖片
    // 而當視窗寬度大於等於 480px 開始，呈現水平排版，則套用 mt-sm-0 可消除 margin-top，切換為使用 flex 達到垂直置中
  }
}


.swing-pair{
    position: relative;
}


// intro2 背景介紹區塊
section#section_definition{
  .img_definition{
    margin-top: -140px;
    min-height: 350px;
    background-image: url(img/swing_dance-oldTimes.jpg);
    background-position: center center;
    background-size: contain;
   }

}


// styles 舞風區塊
section#section_styles{
  text-align: center;
 
  .dance-style:hover{
    transition: all .2s linear;
    background-color: #EFEBE5;
    box-shadow: 0px 0px 4px rgba(black, 0.3);
  }

  .dance-style:hover img{
    transition: all .2s linear;
    transform: scale(1.1);
  }

  .style_text{
    text-align :justify;
  }

  .img-wrap{
    // 讓圖片圓形遮罩保持1:1等比例縮放
    // 並裁切掉超出容器的圖片
    -webkit-spect-ratio: 1 / 1;
    -moz-spect-ratio: 1 / 1;
    -ms-aspect-ratio: 1 / 1;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    overflow: hidden; 
  }
  
  img{
    // 強制讓所有不同等寬高的圖片都拉滿填滿父層容器
    // 讓圖片內容保持等比例拉大填滿容器後，隱蔽多餘部分
    width: 100%;
    height: 100%;  
    object-fit: cover; 
  }
  
  h3{
    margin-top: 10px;
  }
  
  p{
    line-height: 1.75;
  }
  
}

// video影片區塊
section#section_video{
  padding: 0 ;

  .video{
    background-color: black;
    padding: 20px 0;
  }
  .embed-container { 
    position: relative; 
    max-width: 100%; 
    padding: 200px 0;

    // padding-bottom: 56.25%; 
    // height: 0; 
    // overflow: hidden; 
    
  } 

    .embed-container iframe{ 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
    }
}

// course 課程區塊
section#section_course{
  background-color: #eee;
  .card{
    width: 100%;
  }
  
  .card-img-cap{
    height: 250px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
  }

  .card-body{
    padding: 20px;

    .card-title{
      line-height: 1.5;
      font-size: 24px;
    }

    .card-text{
      line-height: 2;
      margin-bottom: 10px;
    }
  
    .btn-sign-up{
      display: block;
      color: black;
      padding: 8px 12px;
      border-radius: 6px;
      color: white;
      background-color: $color_gold;
      text-align: center ;
    }
  }
}

footer{
  position: relative; 
  //父層要有這個相對定位，:before的絕對定位才抓得到相對位置。  
  // 讓背景圖與與文字放在不同層，文字在上，背景在下。
  // 單獨針對背景圖處理亮度變暗，而文字亮度不變。

  &:before{
    content: '';
    display: block;//block才能撐滿父層 
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/swing-dance-party.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed; //讓背景圖固定位置不跟著滑動
    filter: brightness(0.5); // 調暗背景
    z-index: -1;}
  
  .container.footer{
    color: white;
    padding: 120px 0;
  }

  input.form-control{
    background-color: rgba(white, 0.5);
    max-width: 350px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto; 

    &:focus{
      border: 2px solid $color_gold;
    }
  }



  button{
    margin-top: 20px;
  }

  a{
    color: white;
    &:hover{
      color: $color_gold;
      transition-duration: .2s;
    }
  }

  .footer_item-title{
    color: $color_gold;
  }
    

}